<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <script src="/js/index.js" defer></script>
  <title>Document</title>
</head>
<body>
  <h1>Listening on device <code><%= device.name %></code></h1>
  <em></em><br>
  <em>tip: getting unexpected output? try adjusting your octave</em>
  <br><br>
  <button onclick="removeEvents()">Remove all events</button>
  <br>
  <p>sustain is <span id="sustain">OFF</span></p>
</body>
</html>