<p data-chordId="<%= chord.constructor.allChords.length %>">Chord: <%= chord.name %></p>
<p data-chordId="<%= chord.constructor.allChords.length %>">Notes: <code><%= chord.notesFormatted() %></code></p>